<aside class="dashboard-sidebar d-flex flex-column flex-shrink-0 shadow-sm">

  <nav class="pb-3">

    @if (isLoading) {
      <div class="text-center py-4">
        <div class="spinner-border text-light" role="status"></div>
      </div>
    } @else {
      <ul class="nav nav-pills flex-column gap-1 mt-3">
        @for (menu of menus; track menu.menuId) {
          @for (subMenu of menu.subMenus; track subMenu.subMenuId) {
            <li class="nav-item mt-1">
              <a [routerLink]="subMenu.route" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link d-flex align-items-center gap-2">
                <!-- @if (subMenu.icon) {
                  <i [class]="'fas fa-' + subMenu.icon"></i>
                } -->
                <span>{{ subMenu.subMenuName }}</span>
              </a>
            </li>
          }
        }
      </ul>
    }
  </nav>

</aside>
